.container {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.title {
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}